
<div class="toolbar" role="banner">
  <span>{{ title }}</span>
</div>

<div class="container" role="main">

  <div class="tab-bar" *ngIf="tab === 'list'">
    <!-- a href="#" (click)="goToList()" class="rounded-nav" title="Ver todas mis notas">Mis notas</a -->
    <a href="#" (click)="goToAddEdit()" class="rounded-nav" title="Agregar una nota">Agregar</a>
  </div>

  <app-list-files *ngIf="tab === 'list'" (edit)="goToAddEdit($event)"></app-list-files>
  <app-form-file *ngIf="tab === 'formFile'" [fileName]="fileName" (showList)="goToList($event)"></app-form-file>

</div>
